$primaria-ciano-forte-cor: hsl(172, 67%, 45%);

$neutra-ciano-escuro-cor: hsl(183, 100%, 15%);
$neutra-acinzentado-escuro-cor: hsl(186, 14%, 43%);
$neutra-acinzentado-cor: hsl(184, 14%, 56%);
$neutra-acinzentado-claro-cor: hsl(185, 41%, 84%);
$neutra-acinzentado-muito-claro-cor: hsl(189, 41%, 97%);
$branco-cor: hsl(0, 0%, 100%);